[Unit]
Description=My C++_http Application
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/paddle_frame_net_2.0
ExecStart=/opt/paddle_frame_net_2.0/run.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target